<div class="modal fade" id="win_new_user" data-keyboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header modal-header-footer">
                    <span class="mod-header-title">Nuevo usuario</span>
                    <button type="button" class="btn-close-modal btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer modal-header-footer">
                    <button class="btn btn-outline-secondary" type="button" data-toggle="tooltip" title="Guardar datos de usuario" id="btnSaveUser"><i class="far fa-save"></i><span class="sidebar-show-icon"> Guardar</span></button>
                    <button class="btn btn-outline-secondary close-modal" type="button" data-toggle="tooltip" title="Salir sin guardar "><i class="fas fa-times"></i><span class="sidebar-show-icon"></span> Salir</button>
                </div>
            </div>
        </div>
    </div>
</div>
