<div class="modal fade" id="win_new_user" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-footer">
                <span class="mod-header-title">Nuevo usuario</span>
                <button type="button" class="btn-close-modal btn btn-danger" data-dismiss="modal"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-body">
                <form id="frmUser">
                    <div class="form-group row no-space-div">
                        <label for="txtUserName" class="col-sm-2 col-form-label">Nombre: </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" id="txtUserName"/>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <span class="col-sm-10 spn-error-msg hide-error" id="spntxtUserName">Formato incorrecto</span>
                    </div>
                    <div class="form-group row no-space-div">
                        <label for="txtUserEmail" class="col-sm-2 col-form-label">Correo: </label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="email" id="txtUserEmail"/>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <span class="col-sm-10 spn-error-msg hide-error" id="spntxtUserEmail">Formato incorrecto</span>
                    </div>
                    <button type="button" class="btn btn-outline-secondary" style="display: block; width: 100%;" id="btnOpenSelectCompanies">Seleccionar empresas <i class="far fa-building"></i></button>
                </form>
                <fieldset class="companies-fieldset">
                    <legend class="companies-fieldset-legend">Empresas asociadas</legend>
                    <div class="div-companies-fieldset">
                        <!-- <span class="spn-company-fieldset"><i class="far fa-building"></i></span>
                        <span class="spn-company-fieldset">jwehrkjer</span> -->
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer modal-header-footer">
                <button class="btn btn-outline-dark" type="button" data-toggle="tooltip" title="Guardar datos de usuario" id="btnSaveUser"><i class="far fa-save"></i><span class="sidebar-show-icon"> Guardar</span></button>
                <button class="btn btn-outline-dark close-modal" type="button" data-toggle="tooltip" title="Salir sin guardar "><i class="fas fa-times"></i><span class="sidebar-show-icon"> Salir</span></button>
            </div>
        </div>
    </div>
</div>
