<div class="modal fade" id="win_new_company" data-keboard="false" data-backdrop="static">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header modal-header-footer">
                    <span class="mod-header-title">Nueva empresa</span>
                    <button type="button" class="btn-close-modal btn-danger btn" data-dismiss="modal"><i class="fas fa-times"></i></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">Nombre: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="" class="col-sm-2 col-form-label">RFC: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"/>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer modal-header-footer">
                    <button class="btn btn-outline-secondary" type="button" data-toggle="tooltip" title="Guardar datos de empresa" id="btnSaveCompany"><i class="far fa-save"></i><span class="sidebar-show-icon"> Guardar</span></button>
                    <button class="btn btn-outline-secondary close-modal" type="button" data-toggle="tooltip" title="Salir sin guardar"><i class="fas fa-times"></i><span class="sidebar-show-icon"> Salir</span></button>
                </div>
            </div>
        </div>
    </div>

</div>
