<div class="modal fade" id="win_select_user_companies" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-footer">
                <span class="mod-header-title">Seleccionar empresas</span>
                <button type="button" class="btn-close-modal btn-danger btn" data-dismiss="modal"><i class="fas fa-times"></i></button>
            </div>
            <div class="modal-body">
                <form id="frmSelectCompanies">
                    <div id="divSelectCompanies">
                        <!-- <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id=""/>
                            <label class="form-check-label" for="">Empresa 1</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id=""/>
                            <label class="form-check-label" for="">Empresa 2</label>
                        </div> -->
                    </div>
                </form>
            </div>
            <div class="modal-footer modal-header-footer">
                <button class="btn btn-outline-dark" type="button" data-toggle="tooltip" title="Guardar datos seleccionados" id="btnSaveSelectedCompanies"><i class="far fa-save"></i><span class="sidebar-show-icon"> Guardar</span></button>
                <button class="btn btn-outline-dark close-modal" type="button" data-toggle="tooltip" title="Salir sin guardar"><i class="fas fa-times"></i><span class="sidebar-show-icon"> Salir</span></button>
            </div>
        </div>
    </div>
</div>
