/*b-o significa black-orange, que corresponde al tema para la aplicación*/

html{
    height: 100%;
}

body{
    height: 100%;
    width: 98%;
}

/*-----------------TOPNAVBAR---------------------*/

.topnavbar-style-b-o{
    border-bottom-color: #f1971d;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}


.mytopnavbar{
    position: fixed;
    background-color: black;
    height:8%;
    width:100%;
    display: flex;
    /* height:50px; */
}

.fixed-top.topnavbar-style-b-o{
    left:16%;
    z-index:0;
}

/*--------------SIDEBAR----------------*/

.sidebar-style-b-o{
    background-color: #4a4a4a;
    height:-webkit-fill-available;
    width:100%;
    /* padding:0; */
    height: 99%;
    /* border-color: #f1971d;
    border-width: 0 2px;
    border-style: solid; */
}

.sidebar-pt-a-elements{
    color:#efeee3;
    margin-left:5px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: medium;
    font-size-adjust: 0.48;
    /* display: block; */
}

.sidebar-pt-a-elements:hover{
    color:#ffffff;
    text-decoration: none;
}

.sidebar-pt-icon{
    color:#6c757d;
}

.sidebar-pt-li-elements{
    margin-left:8px;
    display: block;
    margin-bottom:6px;
}

.sidebar-submenu-div{
    background-color:#494949;
    border: none;
    margin-left:15%;
}

.sidebar-submenudiv-a{
    color:#bdbdb7;
    margin-left:5px;
    font-family: sans-serif;
    /* font-weight: bolder; */
    font-size: small;
}

.sidebar-submenudiv-a:hover{
    text-decoration:none;
    color:#ffffff;
    /* font-weight:bolder; */
}

.sidebar-submenudiv-li{
    /* display:inline-grid; */
    display:grid;
}

.sidebar-div{
    height:100%;
    padding-right: 0;
    width: 18%;
    padding-left:8px;
    z-index:1050;
}

.sidebar-logo{
    width: 50%;
    margin:auto;
}

.icon-right-arrow-menu{
    line-height: 1em;
    margin-top:1%;
    float:right;
    margin-right: 5px;
}

.sidebar-show-icon{
    display: initial;
}

.logo-over-600{
    display: initial;
}

.logo-under-600{
    display: none;
}




/*--------------------BODY-------------------*/

.body-div-10{
    background-color: white;
    padding-left:0;
    width: 82%;
}

.working-panel{
    padding-top:65px;
    /* padding-top: 8%; */
}

.btn-close-modal{
    padding: 1px 3px;
    font-size: .8em;
    border-radius: 50%;
}


/* @media queries */
@media screen and (max-width: 930px){
    .sidebar-show-icon {
        display: none;
    }
}

@media screen and (max-width: 850px){
    .sidebar-submenu-div{
        background-color:#494949;
        border: none;
        margin-left:15%;
        position: absolute;
        margin-top: -5%;
        padding: 3px;
    }
    .collapsing{
        transition: height 0s ease !important;
    }

    /*Aplica a los elementos li que contienen la clase li-margin-bot-1 que son padres de los elementos que contienen la clase collapse y al mismo tiempo la clase show*/
    li.li-margin-bot-1 >.collapse.show {
        margin-bottom:0.5em;
    }

    .collapse:not(.show) + .li-margin-bot-1{
        margin-bottom:6px;
    }

    /*Aplica a los elementos li que contienen la clase li-magin-bot-2 que son padres de los elementos que contienen la clase collapse y al mismo tiempo la clase show*/
    li.li-margin-bot-2 > .collapse.show{
        margin-bottom: 1.5em;
    }

    .collapse:not(.show) + .li-margin-bot-2{
        margin-bottom:6px;
    }
}

@media screen and (max-width: 800px) {
    .logo-under-600{
        display: initial;
    }
    .logo-over-600{
        display: none;
    }
}

@media screen and (max-width: 600px){
    .fixed-top.topnavbar-style-b-o{
        left:14%;
        z-index:0;
    }
}
