/*b-o significa black-orange, que corresponde al tema para la aplicación*/

.topnavbar-style-b-o{
    border-bottom-color: #f1971d;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}

.sidebar-style-b-o{
    background-color: #4a4a4a;
    height:-webkit-fill-available;
    width:100%;
    padding:0;
    /* border-color: #f1971d;
    border-width: 0 2px;
    border-style: solid; */
}

.working-panel{
    background-color: white;
}

.sidebar-li-elements{
    padding:5px;
    border-bottom: 1px solid #c1c1c1;
}

.sidebar-li-elements:hover{
    background-color:white;
    color:#f1971d;
    border-color:#f1971d;
    border-width:0 2.5px;
    border-style:solid;
}

.sidebar-a-elements{
    /* color:white; */
    color:#c1c1c1;
    display:block;
}

.sidebar-a-elements:hover{
    color:#f1971d;
    text-decoration: none;
}
