/*b-o significa black-orange, que corresponde al tema para la aplicación*/

html{
    height: 100%;
}

body{
    height: 100%;
    width: 98%;
}

.topnavbar-style-b-o{
    border-bottom-color: #f1971d;
    border-bottom-width: 3px;
    border-bottom-style: solid;
}


.mytopnavbar{
    position: fixed;
    background-color: black;
    height:50px;
    width:100%;
    display: flex;
}


.sidebar-style-b-o{
    background-color: #4a4a4a;
    height:-webkit-fill-available;
    width:100%;
    /* padding:0; */
    height: 99%;
    /* border-color: #f1971d;
    border-width: 0 2px;
    border-style: solid; */
}

.sidebar-pt-a-elements{
    color:#efeee3;
    margin-left:5px;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: medium;
    font-size-adjust: 0.48;
    /* display: block; */
}

.sidebar-pt-a-elements:hover{
    color:#ffffff;
    text-decoration: none;
}

.sidebar-pt-icon{
    color:#6c757d;
}

.sidebar-pt-li-elements{
    margin-left:8px;
    display: block;
    margin-bottom:6px;
}

.sidebar-submenu-div{
    background-color:#494949;
    border: none;
    margin-left:15%;
}

.sidebar-submenudiv-a{
    color:#efeee3;
    margin-left:5px;
    font-family: sans-serif;
    /* font-weight: bolder; */
    font-size: small;
}

.sidebar-submenudiv-a:hover{
    text-decoration:none;
    color:#ffffff;
    font-weight:bolder;
}

.sidebar-submenudiv-li{
    /* display:inline-grid; */
    display:grid;
}

.sidebar-div{
    height:100%;
    padding-right: 0;
}

.sidebar-logo{
    width: 50%;
    margin:auto;
}

.icon-right-arrow-menu{
    line-height: 1em;
    margin-top:1%;
    float:right;
    margin-right: 5px;
}


.working-panel{
    background-color: white;
}
