.carousel-item-size{
    height: 250px;
    /* width: 250px; */
    display: block;
    margin: auto;
    padding-top:5%;
}

.div-companies-title{
    margin-left:5%;
    margin-top:2%;
}

.span-company-name{
    color: white;
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
}

.carousel-image-align{
    display: block;
    /* margin: auto; */
    width: 50%;
}

.card-actions{
    width: 8rem;
    margin:10px 20px;
}

.card-img-size{
    height: 100px;
    margin: auto;
    width: 80% !important;
}

.card-text-size{
    font-size: 0.8em;
    text-align:center;
}
