.div-months-prog{
    margin:0 3%;
}

.a-month-prog{
    width: 15%;
    margin: 10px 5px;
    color: white;
    border-color: #ccc9c9;
    text-align: center;
    height: 80px;
    vertical-align: middle;
    padding: 30px;
    font-weight: bold;
    transition:0.2s;
}

.a-mp-yellow{
    background: yellow;
}
.a-mp-yellow:hover{
    color:yellow;
    border:1px solid yellow;
}

.a-mp-green{
    background:#28a745;
}
.a-mp-green:hover{
    color:#28a745;
    border:1px solid #28a745;
}

.a-mp-blue{
    background:#23a8bd;
}
.a-mp-blue:hover{
    color:#23a8bd;
    border:1px solid #23a8bd;
}

.a-mp-red{
    background:#de472b;
}
.a-mp-red:hover{
    color:#de472b;
    border:1px solid #de472b;
}

.a-mp-orange{
    background:#f38430;
}
.a-mp-orange:hover{
    color:#f38430;
    border:1px solid #f38430;
}

.a-mp-gray{
    background:#B0AFAF;
}
.a-mp-gray:hover{
    color:#B0AFAF;
    border:1px solid #B0AFAF;
}

.a-month-prog:hover{
    text-decoration:none;
    background-color: white;
    border-radius: 5px;
}
@media screen and (max-width:1150px){
    .a-month-prog{
        padding:30px 15px;
    }
}

@media screen and (max-width: 915px){
    .spn-ovfl-month{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        width: 30px;
        display: inline-block;
    }
    .spn-ovfl-month-24{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        width: 24px;
        display: inline-block;
    }
    .spn-ovfl-month-25{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        width: 25px;
        display: inline-block;
    }
    .spn-ovfl-month-28{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        width: 28px;
        display: inline-block;
    }
    .spn-ovfl-month-29{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        width: 29px;
        display: inline-block;
    }
    .a-month-prog{
        padding:30px 5px;
    }
}

.month-detail-container{
    width: 80%;
    margin:auto;
    /* border:1px solid black; */
    height: 300px;
}

.div-month-name{
    height:inherit;
    width: 5%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    border-top-left-radius: 8px;
}

.det-month-name-div{
    color:white;
    font-weight: bolder;
    font-size: 1.5em;
    resize: vertical;
    transform: rotate(270deg);
}

.div-month-status-content{
    width: 95%;
}

.div-month-status-title{
    height: 2em;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    border-top-right-radius: 8px;
}

.spn-month-status{
    color:white;
    font-weight:bold;
    font-size:1.5em;
}

.hide-div{
    display: none;
}

.show-div-general{
    display: block;
}

.show-div-detail{
    display:flex;
}

@keyframes disappear-div{
    25%{transform:scale(.75);}
    50%{transform:scale(.5);}
    75%{transform:scale(.25);}
    100% {transform:scale(0);}

}
@keyframes hide-div-k {
    100%{visibility: hidden; position: absolute;}
}
.animate-div-disappear{
    animation:disappear-div 1s linear 0s forwards;
    -webkit-animation:disappear-div 1s linear 0s forwards, hide-div-k .25s linear 0.5s forwards;
}

@keyframes appear-div-md{
    25%{display:flex; transform:scale(.25) translateY(200px);}
    50%{transform:scale(.5) translateY(150px);}
    75%{transform: scale(.75) translateY(100px);}
    100%{transform:scale(1);}
}

@keyframes appear-div-mg {
    25%{display:block; transform:scale(.25) translateY(200px);}
    50%{transform:scale(.5) translateY(150px);}
    75%{transform: scale(.75) translateY(100px);}
    100%{transform:scale(1);}
}

.animate-div-appear-md{
    animation:appear-div-md 1s linear  forwards;
    -webkit-animation:appear-div-md 1s linear forwards;
}

.animate-div-appear-mg{
    animation:appear-div-mg 1s linear forwards;
    -webkit-animation: appear-div-mg 1s linear forwards;
}

.month-info{
    font-size:1em;
    color:#696868;
}

.month-info p{
    margin-bottom:0.3em;
}

.month-info-title{
    font-size:1.3em;
    color:#525252;
    font-weight: bold;
}

.month-bg-green-nm{
    background-color: #23923c;
}

.month-bg-green-st{
    background-color:#2fc150;
}

.month-bg-orange-nm{
    background-color: #d8752b;
}

.month-bg-orange-st{
    background-color: #ff8d38;
}

.month-bg-blue-nm{
    background-color: #1f8d9e;
}

.month-bg-blue-st{
    background-color: #2ccde6;
}

.month-bg-gray-nm{
    background-color: #7d7d7d;
}

.month-bg-gray-st{
    background-color: #c7c7c7;
}
