.div-company-filter{
    margin-top:3%;
    margin-left:1%;
}

.mod-header-title{
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

.modal-header-footer{
    padding:10px;
    background-color:#afafaf;
}

.spn-error-msg{
    font-size:0.8em;
    color:#d80d0d;
}

.no-space-div{
    padding-bottom:3px;
    margin-bottom:3px;
}

.hide-error{
    display:none;
}

.show-error{
    display:initial;
}

.invalid-field{
    border:solid 1px red;
}

.valid-field{
    border:solid 1px green;
}

.companies-fieldset{
    border: 1px solid #b3abab;
    border-radius: 5px;
    padding:5px;
}

.companies-fieldset-legend{
    width: auto;
    margin-left: 5%;
    font-size:1.2em;
}

.div-companies-fieldset{
    padding:0 10px;
    display:grid;
}

.spn-company-fieldset{
    font-size:0.9em;
    color:#4c4c4c;
}

span.spn-company-fieldset > i{
    color:#7b7b7b !important;
}
