<div class="sidebar-style-b-o">
    <nav>
        <ul class="list-unstyled">
            <li class="sidebar-pt-li-elements">
                <a class="sidebar-pt-a-elements" href="#div_submenu_descargas" data-toggle="collapse" aria-expanded="false" aria-controls="div_submenu_descargas" aria-haspopup="true"><i class="fas fa-file-download sidebar-pt-icon"></i> Descargar <i class="fas fa-caret-right icon-right-arrow-menu"></i></a>
                <div class="collapse collapse-div-submenu" id="div_submenu_descargas">
                    <div class="card sidebar-submenu-div">
                        <ul class="list-unstyled">
                            <li class="sidebar-submenudiv-li">
                                <a href="#" class="sidebar-submenudiv-a">Formato para cargar información</a>
                            </li>
                            <li class="sidebar-submenudiv-li">
                                <a href="#" class="sidebar-submenudiv-a">Guía de llenado</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="sidebar-pt-li-elements">
                <a class="sidebar-pt-a-elements" href="#div_submenu_cargar" data-toggle="collapse" aria-expanded="false" aria-controls="div_submenu_cargar" aria-haspopup="true"><i class="fas fa-file-upload sidebar-pt-icon"></i> Cargar <i class="fas fa-caret-right icon-right-arrow-menu"></i></a>
                <div class="collapse collapse-div-submenu" id="div_submenu_cargar">
                    <div class="card sidebar-submenu-div">
                        <ul class="list-unstyled">
                            <li class="sidebar-submenudiv-li">
                                <a href="#" class="sidebar-submenudiv-a">Archivo meta del SAT</a>
                            </li>
                            <li class="sidebar-submenudiv-li">
                                <a href="#" class="sidebar-submenudiv-a">Archivo con información de la empresa</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="sidebar-pt-li-elements">
                <a class="sidebar-pt-a-elements" href="#div_submenu_comparar" data-toggle="collapse" aria-expanded="false" aria-controls="div_submenu_comparar" aria-haspopup="true"><i class="far fa-object-ungroup sidebar-pt-icon"></i> Comparar <i class="fas fa-caret-right icon-right-arrow-menu"></i></a>
                <div class="collapse collapse-div-submenu" id="div_submenu_comparar">
                    <div class="card sidebar-submenu-div">
                        <ul class="list-unstyled">
                            <li class="sidebar-submenudiv-li">
                                <a href="#" class="sidebar-submenudiv-a">Obtener comparativos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="sidebar-pt-li-elements">
                <a class="sidebar-pt-a-elements" href="#div_submenu_avance" data-toggle="collapse" aria-expanded="false" aria-controls="div_submenu_avance" aria-haspopup="true"><i class="fas fa-calendar-day sidebar-pt-icon"></i> Avance <i class="fas fa-caret-right icon-right-arrow-menu"></i></a>
                <div class="collapse collapse-div-submenu" id="div_submenu_avance">
                    <div class="card sidebar-submenu-div">
                        <ul class="list-unstyled">
                            <li class="sidebar-submenudiv-li">
                                <a href="#" class="sidebar-submenudiv-a">Ver avance</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="sidebar-pt-li-elements">
                <a class="sidebar-pt-a-elements" href="#div_submenu_config" data-toggle="collapse" aria-expanded="false" aria-controls="div_submenu_config" aria-haspopup="true"><i class="fas fa-cogs sidebar-pt-icon"></i> Configuración <i class="fas fa-caret-right icon-right-arrow-menu"></i></a>
                <div class="collapse collapse-div-submenu" id="div_submenu_config">
                    <div class="card sidebar-submenu-div">
                        <ul class="list-unstyled">
                            <li class="sidebar-submenudiv-li">
                                <a href="#" class="sidebar-submenudiv-a">Empresas</a>
                            </li>
                            <li class="sidebar-submenudiv-li">
                                <a href="#" class="sidebar-submenudiv-a">Usuarios</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="sidebar-pt-li-elements">
                <a class="sidebar-pt-a-elements" href="#div_submenu_links" data-toggle="collapse" aria-expanded="false" aria-controls="div_submenu_links" aria-haspopup="true"><i class="fas fa-external-link-alt sidebar-pt-icon"></i> Enlaces <i class="fas fa-caret-right icon-right-arrow-menu"></i></a>
                <div class="collapse collapse-div-submenu" id="div_submenu_links">
                    <div class="card sidebar-submenu-div">
                        <ul class="list-unstyled">
                            <li class="sidebar-submenudiv-li">
                                <a href="#" class="sidebar-submenudiv-a" id="btnOpenSatLink">SAT</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</div>
