<div class="sidebar-style-b-o">
    <nav>
        <ul class="list-unstyled">
            <li class="sidebar-li-elements">
                <a class="sidebar-a-elements" href="#">Descargar formato para carga de información</a>
            </li>
            <li class="sidebar-li-elements">
                <a class="sidebar-a-elements" href="#">Cargar archivo meta del SAT</a>
            </li>
            <li class="sidebar-li-elements">
                <a class="sidebar-a-elements" href="#">Cargar archivo con información de la empresa</a>
            </li>
            <li class="sidebar-li-elements">
                <a class="sidebar-a-elements" href="#">Obtener comparativo</a>
            </li>
            <li class="sidebar-li-elements">
                <a class="sidebar-a-elements" href="#" id="btnOpenSatLink" >SAT</a>
            </li>
            <li class="sidebar-li-elements">
                <div class="dropright">
                    <a class="sidebar-a-elements dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Configuración</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Usuarios</a>
                        <a class="dropdown-item" href="#">Empresas</a>
                    </div>
                </div>
            </li>
            <li class="sidebar-li-elements">
                <a class="sidebar-a-elements" href="#">Avance</a>
            </li>
        </ul>
    </nav>
</div>
